<div class="ipo">
    <div class="form">
        <div class="container">
            <div class="col-md-12">
                <!--form-->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="col-md-3 search-col">
                            <h4 class="form-header">Ειδικότητα</h4>
                            <select name="" id="">
                                    <option value="">Καρδιολογία</option>
                                    <option value="">Μαιευτική / Γυναικολογία</option>
                                    <option value="">Ουρολογία</option>
                                    <option value="">Ακτινολογία</option>
                                    <option value="">Ορθοπεδική</option>
                                    <option value="">Ενδοκρινολογία</option>
                                    <option value="">Παθολογία</option>
                                    <option value="">Χειρουργική</option>
                                    <option value="">Γαστρεντερολογία</option>
                                    <option value="">Γενική ιατρική</option>
                                    <option value="">Νεφρολογία</option>
                                </select>
                        </div>
                        <div class="col-md-3 search-col">
                            <h4 class="form-header">Κατηγορία</h4>
                            <select name="" id="">
                                    <option value="">Απινιδωτές</option>
                                    <option value="">καρδιογράφοι</option>
                                    <option value="">Τεστ κοπωσεως</option>
                                    <option value="">Σπιρόμετρα</option>
                                    <option value="">Monitors</option>
                                    <option value="">Λοιπός εξοπλισμός</option>
                                </select>
                        </div>
                        <div class="col-md-3 search-col">
                            <h4 class="form-header">Κατάσταση</h4>
                            <select name="" id="">
                                    <option value="">Μεταχειριμένο</option>
                                    <option value="">Νέο</option>
                                </select>
                        </div>
                        <div class="col-md-3 no-search-col">
                            <input class="btn btn-default search-form-btn" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
                <!--form-->
            </div>
        </div>
    </div>
    <video poster="http://www.idealskopelos.com/video/videobg.jpg" id="bgvid" playsinline="" autoplay="" muted="" loop="">
           <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
            <source src="http://ak3.picdn.net/shutterstock/videos/8725573/preview/stock-footage-tomograph-patient-on-magnetic-resonance-imaging-medical-examination.mp4" type="video/mp4">
        </video>
</div>
<div class="container da-container">
    <h3 class="main-page-h3">Στον Ιπποκρατη θα βρεις αυτο που ψαχνεις</h3>
    <div class="row table-row">
        <div class="col-xs-6 border-col">
            <img class="img-responsive" src="http://www.ippocratis.gr/sites/default/files/alpinion_ecube_7_0.jpg" alt="...">
            <h3 class="main-page-h3">Στον Iποκρατη θα βρεις</h3>
        </div>
        <div class="col-xs-6">
            <img class="img-responsive" src="http://www.ippocratis.gr/sites/default/files/chison-q9_small.jpg" alt="...">
            <h3 class="main-page-h3">Αλλου θα βρεις</h3>
        </div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- table-row -->

    <div class="row">
        <h3 class="main-page-h3">Τα τελευταία μας μηχανιματα</h3>
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="http://www.ippocratis.gr/sites/default/files/alpinion_ecube_7_0.jpg" alt="...">
                <div class="caption">
                    <h3>ALPINION E CUBE 15</h3>
                    <p>Το σύστημα υπερήχων E-CUBE 15 προσφέρει εξαιρετικής ποιότητας εικόνες σε συνδυασμό με την ανώτατη ανάλυση που χρειάζεστε για μια σίγουρη διάγνωση....</p>
                    <p class="two-buttons"><a href="#" class="two-button-display btn btn-primary" role="button">Button</a> <a href="#" class="two-button-display btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="http://www.ippocratis.gr/sites/default/files/alpinion_ecube_7_0.jpg" alt="...">
                <div class="caption">
                    <h3>ALPINION E CUBE 15</h3>
                    <p>Το σύστημα υπερήχων E-CUBE 15 προσφέρει εξαιρετικής ποιότητας εικόνες σε συνδυασμό με την ανώτατη ανάλυση που χρειάζεστε για μια σίγουρη διάγνωση....</p>
                    <p class="two-buttons"><a href="#" class="two-button-display btn btn-primary" role="button">Button</a> <a href="#" class="two-button-display btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="http://www.ippocratis.gr/sites/default/files/alpinion_ecube_7_0.jpg" alt="...">
                <div class="caption">
                    <h3>ALPINION E CUBE 15</h3>
                    <p>Το σύστημα υπερήχων E-CUBE 15 προσφέρει εξαιρετικής ποιότητας εικόνες σε συνδυασμό με την ανώτατη ανάλυση που χρειάζεστε για μια σίγουρη διάγνωση....</p>
                    <p class="two-buttons"><a href="#" class="two-button-display btn btn-primary" role="button">Button</a> <a href="#" class="two-button-display btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row zertikikat-row">
        <h3 class="main-page-h3 mph3-class2">Mηχανήματα ελεγμένα ένα προς ένα</h3>
        <h2 class="main-page-h2">Δεν θα βρείς καλυτέρα</h2>
        <div class="col-xs-6">
            <div class="white-box">
                <ul class="zertifikat-ul">
                    <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Δίκτυο 19 μηχανικών</strong> σε Αθήνα και Θεσσαλονίκη</li>
                    <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>800 έλεγχοι</strong> σε μεταχειρισμένα κάθε μήνα</li>
                    <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>40% περισσότερα</strong> ευρήματα σε σχέση με αντίστοιχους ελέγχους της αγοράς</li>
                    <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>9.2 στα 10 </strong> από 3132 reviews!</li>
                </ul>
            </div>
            <div class="report-box">
                <img class="report-box-img" src="https://www.spotawheel.gr/assets/resources/images/home-v2/icon-report.png" alt="report">
                <p class=" report-box-text">Για κάθε αυτοκίνητό μας θα βρεις <br><strong>10-σέλιδη τεχνική αναφορά</strong> για να ξέρεις τα πάντα!</p>
            </div>
            <!--<a href="https://blog.spotawheel.gr/pws-epilegoume-ta-autokinita-mas/" class="button" target="_blank" onclick="ga('send', 'event', 'Home page click', 'Blog: https://blog.spotawheel.gr/pws-epilegoume-ta-autokinita-mas/', '');">Δες πως επιλέγουμε αυτοκίνητα</a>-->
        </div>
        <div class="col-xs-6">
            <img class="img-responsive ypo-foto-zertifikat" src="http://www.ippocratis.gr/sites/default/files/alpinion_ecube_7_0.jpg" alt="...">
        </div>
    </div>
    <!-- zertikikat-row -->
</div>
<!-- da-container -->